[submodule "nodes/smart-resolution-calc"]
	path = nodes/smart-resolution-calc
	url = https://github.com/djdarcy/ComfyUI-Smart-Resolution-Calc.git
[submodule "nodes/fit-mask-to-image"]
	path = nodes/fit-mask-to-image
	url = https://github.com/DazzleNodes/fit-mask-to-image.git
[submodule "nodes/dazzle-comfy-plasma-fast"]
	path = nodes/dazzle-comfy-plasma-fast
	url = https://github.com/DazzleNodes/dazzle-comfy-plasma-fast.git
[submodule "nodes/preview-bridge-extended"]
	path = nodes/preview-bridge-extended
	url = https://github.com/DazzleNodes/ComfyUI-PreviewBridgeExtended.git
[submodule "nodes/dazzle-switch"]
	path = nodes/dazzle-switch
	url = https://github.com/DazzleNodes/ComfyUI-DazzleSwitch.git
